{% extends 'MilioooMessagingBundle::layout.html.twig' %}

{% block miliooo_messaging_content %}

    <h2>{% trans from 'MilioooMessagingBundle' %}title.send_new_message{% endtrans %}</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans from 'MilioooMessagingBundle' %}action.create_new_thread{% endtrans %}</button>
    </p>
        {{ form_end(form) }}

{% endblock %}
